<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<add name="ConnectionString"
			 connectionString="Server=tanveer\SQLEXPRESS;
                       Database=IOT_Device_Management_DB(EF);
                       Integrated Security=True;
                       TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="LogFilePath" value="C:\Users\mdtan\OneDrive\Desktop\New folder (2)\logs.txt" />
	</appSettings>

</configuration>
